* {
    list-style-type: square;
}

html {
    background-image: radial-gradient(circle at center, #0d5165, #103a45);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #c99700;
    font-size: larger;
}

html::before {
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../attachments/images/tech_background.png);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

hr {
    background-color: #c99700;
    border: none;
    height: 1px;
}

#navigation nav{

    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 10px;

    border-radius: 5%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #b58900;
    
    display: flex;
    justify-content: center;
    gap: 5%;
    
}

.navlinks {
    text-decoration: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #c99700;

}

.navlinks:hover {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #ffbf00;

    background-color: #103a45;
    border-radius: 5%;
    padding: 10px;

    transition: all 0.5s ease;
    cursor: pointer;
}

#resume-header {
    display: flexbox;
    justify-content: center;
}

#headshot {
    width: 15%;
    height: auto;

    object-fit: cover;
    border-radius: 5%;

    display: inline-block;

}

#info-block {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 1%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 1%;

    width: fit-content;
    height: auto;
    display: flexbox;
    justify-content: center;
}

.section-header {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 5%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    display: inline-block;
}

#personal-summary-section, #awards-and-accolades-section, #education-and-certification-section,
#working-experience-section {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 1%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 1%;

    width: 90%;
    height: auto;
    display: flexbox;
    justify-content: center;

}

footer {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 1%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 1%;

    width: 90%;
    height: auto;
    display: flexbox;
    justify-content: center;

}

#References, #ref {
    font-size: small;
}

.table {
    border: 2px solid black;
    border-collapse: collapse;
    background-color:#103a45;
    
    padding: 5px;
    
    display: flexbox;
    justify-content: center;

}

#letter {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 1%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 1%;

    width: fit-content;
    height: auto;
    display: flexbox;
    justify-content: center;

    font-size: x-large;
}

#cg-main {
    text-align: center;
    display: flexbox;
    justify-content: center;
}

#showcase {
    background-image: radial-gradient(circle at right, rgb(22, 105, 95), rgb(13, 69, 23));
    
    border-radius: 1%;
    border-color: #2aa198;
    border: 1px solid #2aa198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 1%;

    width: fit-content;
    height: auto;
    display: flexbox;
    justify-content: center;
    text-align: center;

    font-size: x-large;
}
